<div class="center hero-unit">
  <h1>Welcome to Prospect</h1>

  <h2>
    Prospect allows you to keep track of your dating prospects so you never forget to <%= link_to "communicate", "http://www.google.com" %> with them
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>
