<footer class="footer">
  <small>
    <%= link_to "Prospect" , root_path %>
    by <%= link_to "Yash Ranadive", "http://www.about.me/yash.ranadive" %>
  </small>
  <nav>
    <ul>
      <li></li>
      <li></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>